#home {

    background: url('https://picsum.photos/1200/800') no-repeat center center/cover;
    
    height: 100vh;
    
    color: white;
    margin-bottom: 70px;
    display: flex;
    
    flex-direction: column;
    
    justify-content: center;
    
    align-items: center;
    
    }

    #skills{
    background-color: #f4f4f4;
    padding: 50px 0;
    margin-top: 70px;
    }
    .col-md-3 {
    margin-bottom: 30px;
        background-color: rgb(86, 71, 255);
    }
  